@font-face {
    font-family: "AllOverAgain";
    src: url("/public/all_over_again/AllOverAgain.ttf") format("ttf");
    src: url("AllOverAgain.eot");
    src: url("AllOverAgain.eot?#iefix") format("embedded-opentype"),
        url("AllOverAgain.woff2") format("woff2"),
        url("AllOverAgain.woff") format("woff"),
        url("AllOverAgain.svg#AllOverAgain") format("svg");
}

* {
    box-sizing: border-box;
}
h2 {
    font-size: 4em;
    font-family: "Dokdo", "Courier", "Helvetica Neue", "Lato", "Segoe UI",
        Helvetica, Arial, sans-serif;
    color: #b116ac;
    font-weight: 300;
    text-align: center;
}
body {
    font-family: "Source Sans Pro", sans-serif;
    display: flex;
    color: #b116ac;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(https://s3.amazonaws.com/spicedling/ZVe9ipfKui7xPxRP9uKIN7rn4UZB56Np.png);
    background-attachment: fixed;
}
div.container {
    padding: 40px 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
li.card {
    padding: 2%;
    height: auto;
    width: 25vw;
    margin: 25px;
    list-style: none;
}
img.small {
    min-width: 20vw;
    max-width: 20vw;
    cursor: pointer;
}

img.large {
    max-width: 50vw;
}
p {
    color: #b116ac;
    font-weight: 300;
    line-height: normal;
}
form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
input {
    padding: 15px;
    margin: 2em;
    color: white;
    font-size: 15px;
    border: transparent;
    background-color: transparent;
    border-bottom: white solid 3px;
}
input#file {
    border-bottom: transparent;
    box-shadow: none;
    padding-top: 5px;
    color: #b116ac;
    font-size: larger;
    margin: 15px;
    cursor: pointer;
}
input#comment-field {
    width: 28vw;
    border-bottom: black solid 3px;
    color: black;
}
input#user-field {
    border-bottom: black solid 3px;
    color: black;
}
#description {
    width: 30vw;
}
button {
    padding: 15px;
    background-color: white;
    color: #b116ac;
    font-size: larger;
    margin: 15px;
    border-radius: 15px;
    border: rgba(0, 0, 139, 0.728) 2px solid;
    font-family: "AllOverAgain";
    cursor: pointer;
}
button#more {
    align-self: center;
    margin: 2em;
    margin-left: 20%;
}
.inputfile {
    max-width: 20%;
    font-size: 1.15rem;
    /* 20px */
    font-weight: 500;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    overflow: hidden;
    margin-right: 0;
    background-color: transparent;
}
.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}
div.comment {
    border: darkblue 1px dashed;
    border-radius: 15px;
    max-width: 40vw;
    padding: 10px;
    margin-bottom: 5px;
}
.modal-container {
    background-color: #fefefe;
    margin: 20px auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    border-radius: 15px;
}
.close {
    color: rgb(151, 148, 148);
    float: right;
    font-size: 38px;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
#fa-comment {
    display: none;
}
/* media queries */

@media only screen and (max-device-width: 480px) {
    li.card {
        display: block;
        height: auto;
        width: 90vw;
        text-align: center;
    }
    div.modal-container {
        margin-top: 6%;
    }
    img.small {
        min-width: 60vw;
        max-width: 70vw;
    }
    img.large {
        min-width: 60vw;
        max-width: 70vw;
    }
    input#file {
        border-bottom: transparent;
        border-radius: 15px;
        box-shadow: none;
        padding-top: 15px;
        color: #b116ac;
        font-size: larger;
        margin: 15px;
        cursor: pointer;
        background-color: white;
        opacity: 1;
    }
    div.modal-container {
        min-width: 97vw;
    }
    input {
        min-width: 95vw;
        min-height: 8vh;
        border: 3px white solid;
        border-radius: 15px;
        color: white;
        text-transform: uppercase;
        font-size: 25px;
        background-color: #b116ac;
        opacity: 0.5;
    }

    h2 {
        font-size: 8em;
        font-family: "AllOverAgain", "Dokdo", "Source Sans Pro", sans-serif,
            "Courier", "Helvetica Neue", "Lato", "Segoe UI", Helvetica, Arial,
            sans-serif;
    }
    button {
        min-width: 28vw;
        padding: 15px;
        display: block;
        text-transform: uppercase;
        font-size: larger;
        font-family: "AllOverAgain", "Dokdo", "Source Sans Pro", sans-serif,
            "Courier", "Helvetica Neue", "Lato", "Segoe UI", Helvetica, Arial,
            sans-serif;
    }
    button#upload {
        min-width: 20vw;
        padding: 65px;
        display: block;
        text-transform: uppercase;
        font-size: 5em;
        margin-right: 25%;
    }
    button#delete {
        padding: 10px;
        border: none;
        max-width: 4vw;
        margin-left: 0;
    }
    i.fa {
        width: 24px !important;
        height: 24px !important;
        font-size: 25px;
    }
    p {
        font-size: 36px;
    }
    .close {
        color: #aaa;
        float: right;
        font-size: 5em;
    }
    #fa-comment {
        display: block;
        color: #b116ac;
        font-size: 5em;
        float: right;
        /* margin-top: 15px; */
    }
}
